<button type="button" class="btn-edit button" (click)="openModal(template)">Delete</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">DELETE</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body __modal">

    <p>Вы уверене что хотите удалить?</p>

    <div class="modal-footer">
      <button type="button" class=" btn-yes">OK</button>
      <button type="button" class=" btn-close" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>
