.button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;

  transition: 0.1s linear;

  &:hover {
    transform: scale(1.2);
  }
  &:focus {
    transform: scale(1.2);
  }
}

li {
  padding-left: 5px;
  margin-top: 5px;
}

